###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
phpunit.xml.dist.bak
###< symfony/phpunit-bridge ###

php-cs-fixer.phar
.php_cs.cache

selenium.jar
geckodriver.exe
